---
// Import the necessary dependencies
import { Image } from "astro:assets";
import PrimaryCTA from "@components/ui/buttons/PrimaryCTA.astro";
import SecondaryCTA from "@components/ui/buttons/SecondaryCTA.astro";
import ReviewComponent from "@components/ui/blocks/ReviewComponent.astro";

// Define props from Astro
const {
  title,
  subTitle,
  primaryBtn,
  primaryBtnURL,
  secondaryBtn,
  secondaryBtnURL,
  withReview,
  avatars,
  starCount,
  rating,
  reviews,
  src,
  alt,
} = Astro.props;

// Define TypeScript interface for props
interface Props {
  title: string;
  subTitle?: string;
  primaryBtn?: string;
  primaryBtnURL?: string;
  secondaryBtn?: string;
  secondaryBtnURL?: string;
  withReview?: boolean;
  avatars?: Array<string>;
  starCount?: number;
  rating?: string;
  reviews?: string;
  src?: any;
  alt?: string;
}
---

<section class="relative mx-auto grid h-screen place-items-center 2xl:max-w-full">
  <div class="absolute inset-0 bg-[url('/image4.png')] bg-cover bg-top bg-no-repeat"></div>

  <!-- Custom fade with specific percentages -->
  <div class="absolute inset-0 bg-gradient-to-b from-transparent from-0% via-transparent via-80% to-less-pure-dark to-100%"></div>

  <div class="relative z-10 text-center pb-48">
    <h1 class="font-bebas block text-[5.5rem] font-bold text-neutral-800 uppercase sm:text-4xl md:text-[7rem] lg:text-[8rem] tracking-[-0.1em] dark:text-neutral-200">
      Develop Deploy Secure
    </h1>
  </div>
</section>