---
import LogoIcon from "@/components/ui/icons/LogoIcon.astro";
---

<section
  class="relative mx-auto grid h-screen max-w-screen place-items-center overflow-hidden"
>
  <div class="absolute top-0 -z-10 w-full">
    <LogoIcon h="1000" className="text-less-pure-dark/40" />
  </div>
  <!-- <div
    class="absolute inset-0 bg-[url('/image4.png')] bg-cover bg-top bg-no-repeat"
  >
  </div> -->
  <!-- Custom fade with specific percentages -->
  <!-- <div
    class="to-less-pure-dark absolute inset-0 bg-gradient-to-b from-transparent from-0% via-transparent via-80% to-100%"
  > -->
  </div>
  <div class="z-10 mx-10 w-fit text-center">
    <h1
      class="font-bebas block text-[5rem] font-bold tracking-[-0.1em] text-neutral-800 uppercase md:text-[7rem] lg:text-[8rem] dark:text-neutral-200/60"
    >
      Develop Deploy Secure
    </h1>
    <h2
      class="font-bebas from-pure-dark/90 via-less-pure-dark bg-gradient-to-b from-0% via-75% to-transparent to-100% bg-clip-text text-[3rem] font-bold tracking-[-0.1em] text-transparent uppercase md:text-[7rem] lg:text-[8rem]"
    >
      Cybercraft Labs
    </h2>
  </div>
</section>
